Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root element: Hotels -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
       <xs:element name="Hotel" type ="HotelType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 

   <!-- Complex type: HotelType -->  
   <xs:complexType name="HotelType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Address" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Rating" type="xs:decimal" use="Optional"/>
   </xs:complexType>


